#container-navbar {
  grid-area: navbar;

  height: 100%;
  width: 100%;

  z-index: 1;
  .navbar {
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.2rem;
      margin-left: 3.5rem;

      &:hover {
        border-bottom: 1px solid rgb(192, 233, 146);
        color: rgb(192, 233, 146);
      }

      &:last-of-type {
        margin-right: 1.5rem;
      }
    }
  }
}
