@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");

@import "./sass/Navbar.scss";
@import "./sass/AsideMenu.scss";
@import "./sass/ContentHome.scss";
@import "./sass/ContentEstudios.scss";
@import "./sass/ContentHabilidades.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

#container-principal {
  height: 100vh;
  background: #333;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.1fr 1fr 0.1fr;

  grid-template-areas:
    "navbar"
    "content"
    "aside-menu";
}

@media (min-width: 1201px) {
  #container-principal {
    grid-template-areas:
      "navbar navbar"
      "content aside-menu";

    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 0.1fr 1fr;
  }
}
